
<div class="row" id="tracklist">
  <div class="col s12 m12 l12">
    <% @soundc[0..4].each do |x| %>
      <div id="track<%=x['id']%>" class="song-title">
        <img class='materialboxed' src='<%= x['artwork_url'] %>'>
        <p style="line-height:7;"><%= x['title']%></p>
      </div>
    <% end %>
  </div>
</div>
