<div id="row">
  <div class="col s12 m12 l12">
    <canvas id="soundhopper" style="background-color:black;">
    </canvas>
  </div>
  <div id="tracklist">
    <div id = "feed" class="col s12 m12 l12">
      <% @soundc.each do |x| %>
        <div id="track<%=x['id']%>" class="song-title">
          <img src='<%= x['artwork_url'] %>'>
          <p style="font-size:8px;"><%= x['title']%></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
