      <div class="col s6 m6 l6">
            <div>
            <% @soundc.each do |x| %>

          <audio controls><source src="<%=x['embedhtml']%>?client_id=<%= ENV['SoundCloudKey'] %>"></audio>
          <% end %>
        </div>
    </div>