      <div class="col s12 m12 l5">
            <div>
            <% @soundc.each do |x| %>
          <%=x['embedhtml'].html_safe%>
            <style>
            .cookiePolicy{
              display:none;
            }
            </style>
          <% end %>
        </div>
    </div>